body {
  background-color: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: MistyRose;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px MediumSpringGreen;
  background-color: black;
  padding: 0;
  margin: 5px;
  width: 100vw;
}

.status {
  color: MistyRose;
  font-size: 24px;
  font-style: italic;
  margin-top: 4%;
  margin-left: 9vw;
}

.status-final {
  color: MistyRose;
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 9vw;
  margin-right: 9vw;
  animation: gameOver 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes gameOver {
  0% {color: MistyRose}
  10% {color: MediumSpringGreen}
  20% {color: MistyRose}
  30% {color: MediumSpringGreen}
  40% {color: MistyRose}
  50% {color: MediumSpringGreen}
  60% {color: MistyRose}
  70% {color: MediumSpringGreen}
  80% {color: MistyRose}
  90% {color: MediumSpringGreen}
  100% {color: MistyRose}
}

.game {
  background-color: black;
  padding: 5% 0;
  width: 100%;
  height: 60vh;
}

.row {
  background-color: black;
  margin: 0 0;
  text-align: center;
  height: 19vh;
  width: 100vw
}

.box {
  /*color: MediumSpringGreen;*/
  color: black;
  display: inline-block;
  margin: 1vh 1vw;
  box-shadow: 0px 0px 15px 7px MistyRose inset;
  padding: 10px;
  font-size: 6rem;
  width: 18vw;
  height: 15vh;
  cursor: pointer;
}

.box-selected {
  display: inline-block;
  margin: 1vh 1vw;
  box-shadow: 0px 0px 15px 7px MistyRose inset;
  padding: 10px;
  font-size: 6rem;
  width: 18vw;
  height: 15vh;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  cursor: not-allowed;
}

@keyframes mymove {
  from {color: black;}
  to {color: MediumSpringGreen;}
}
